<div ng-hide="educations.length">Loading...</div>
<ul class="educations" ng-show="educations.length">
	<li ng-repeat="education in educations" class="education">
		<div ng-show="education.type == 'education'">
			<h2 class="title">{{education.name}}</h2>
			<p class="time">
				{{ education.start | date:'yyyy'}}
				&mdash;
				<span ng-show="education.finish">{{education.finish | date:'yyyy'}}</span>
				<span ng-hide="education.finish"> current</span>
			</p>
			<p ng-bind-html-unsafe="education.degree"></p>
		</div>
		<div ng-show="education.type == 'certification'">
			<h2 class="title">{{education.name}}</h2>
			<p class="time">
				{{ education.start | date:'MMMM yyyy'}}
				<span ng-show="education.finish">&mdash; {{education.finish | date:'MMMM yyyy'}}</span>
			</p>
			<p ng-bind-html-unsafe="education.notes"></p>
		</div>
	</li>
</ul>