<div class="index">
	<div class="row">
		<div class="span6 offset6">
			<blockquote>
				<h4>hacker: n.</h4>
				<ol>
					<li>A person who enjoys exploring the details of programmable systems and how to stretch their
						capabilities,
						as opposed to most users, who prefer to learn only the minimum necessary. RFC1392, the Internet
						Users'
						Glossary, usefully amplifies this as: A person who delights in having an intimate understanding
						of the
						internal workings of a system, computers and computer networks in particular.
					</li>
					<li>One who programs enthusiastically (even obsessively) or who enjoys programming rather than just
						theorizing about programming.
					</li>
					<li>A person capable of appreciating hack value.</li>
				</ol>
				<small><a href="http://www.catb.org/jargon/html/H/hacker.html">Jargon File: hacker</a></small>
			</blockquote>
		</div>
	</div>
	<p>Hi. My name is Andrew Kulinich and you are using my resume. I am UI development expert
		with 10+ years of experience, team lead and R&D office manager.</p>

	<p>As for me - best resume for developer is code he creates. Check out this <a
			href="https://github.com/4vanger/cv-angular">CV source code</a> at github. </p>

	<p>I love Javascript a lot because it is so agile. And today I could write anything with Javascript - not only
		browser UI, but also server-side, mobile apps or even automate Photoshop.</p>

	<p>I have almost perfect job already but I'm always opened for new opportunities. If you are small startup looking for someone who can quickly transform your idea into complicated UI  or you just closed your B series and now looking for someone to lead your front-end team - here are <a href="#/contacts">my contacts</a>.</p>
	<p>Please close this page immediately if you looking for random developers to sell them on outsource.</p>
	<p>I'm interested in relocating to USA on H1B visa.</p>

	<p>Check <a href="#/jobs">list of companies, I was working for before</a> and <a
			href="#/projects">projects, I am proud of</a>.</p>
</div>