<li class="job">
	<h2 class="position">
		{{job.position}}
		<span ng-show="job.company">at {{job.company}}</span>
		<small ng-show="job.href"><a href="{{job.href}}">{{job.href}}</a></small>
	</h2>
	<p class="time">
		{{ job.startTimestamp | date:'MMMM yyyy' }}
		&mdash;
		<span ng-show="job.finishTimestamp">{{job.finishTimestamp | date:'MMMM yyyy'}}</span>
		<span ng-hide="job.finishTimestamp"> current</span>

		({{ job.startTimestamp | howLong:job.finishTimestamp }})
	</p>
	<ul class="skills">
		<li class="skill" ng-repeat="skill in job.skills">
			<a class="label important" ng-click="search.skill = skill">{{skill}}</a>
		</li>
	</ul>
	<p ng-bind-html-unsafe="job.notes"></p>
</li>
