<form class="form-inline">
	<div class="input-append">
		<input type="text" ng-model="search.skill" placeholder="type skill here"/>
		<span class="add-on clickable" ng-click="search.skill = ''"><i class="icon icon-trash"></i></span>
	</div>
	<label class="checkbox">
		<input type="checkbox" ng-model="search.fulltimeProjects"> Full-time projects
	</label>
	<label class="checkbox">
		<input type="checkbox" ng-model="search.petProjects"> Pet projects
	</label>
</form>

<ul class="projects">
	<project ng-repeat="project in projects | filter:{skills:search.skill} | filter:filterByType | orderBy:'-startTimestamp'" data="project" search="search"></project>
</ul>
