<div ng-hide="allProjects.length">Loading...</div>
<div ng-show="allProjects.length">
	<form class="form-inline clearfix strip-bottom">
		<p class="lead pull-left">Cool projects that I've developed</p>
		<div class="input-append pull-right">
			<input type="text" ng-model="search.skill" placeholder="type skill here"/>
			<span class="add-on clickable" ng-click="resetSearch()" title="Reset search terms"><i class="icon icon-trash"></i></span>
		</div>
	</form>
	<form class="form-inline clearfix strip-bottom search-criterias">
		<label class="checkbox pull-right">
			<input type="checkbox" ng-model="search.fulltimeProjects"> Full-time projects
		</label>
		<label class="checkbox pull-right">
			<input type="checkbox" ng-model="search.petProjects"> Pet projects
		</label>
	</form>
	<ul class="projects">
		<project ng-repeat="project in filteredProjects()" data="project" search="search"></project>
	</ul>
	<div ng-show="filteredProjects().length == 0">
		Nothing found. <a ng-click="resetSearch()">Reset search criteries.</a>
	</div>
</div>
