@import 'bootstrap/bootstrap.less';
[ng-view] {
	margin-top: 60px;
}

.clickable {
	cursor: pointer;
}
// Always show scrollbars
html {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

.jobs,
.projects,
.educations {
	margin-left: 0;
	list-style: none;

	.time {
		margin-bottom: 0;
	}

	.skills {
		margin-left: 0;
		list-style: none;
		.clearfix;

		.skill {
			float: left;
			margin-left: 5px;
			&:first-child {
				margin-left: 0;
			}

			&.technical a{
				background-color: #999999;
			}

			&.managerial a {
				background-color: #3a87ad;
			}
		}
	}


	.job,
	.project,
	.education{
		margin-bottom: 1em;
		.title {
			margin-bottom: 0;
			font-size: 20px;
		}

	}
}

.strip-bottom {
	margin-bottom: 0;

	.lead {
		margin-bottom: 0;
	}
}

.index blockquote {
	font-size: 0.9em;
}